[mysqld]
datadir=/data/store/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max_connections=5000
default-storage-engine=INNODB
wait_timeout=2880000
interactive_timeout = 2880000
max_allowed_packet = 10M

character_set_server= utf8 # 兼容V5.5设置
default-collation=utf8_general_ci

innodb_flush_log_at_trx_commit=2

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8
